.Hi
{
    color:red;
    background-color: grey;
}
.jkl
{
  position: relative;
  width:100%;
} 

.jk
{
  text-decoration: none;
  color: black;
}
.jk:hover
{
  color:#6D63FF;
  text-decoration: none;
}

.Inside-C
{

  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

}




/* Short styles */
.w-100
{
  width:100%;
}
.fs-1
{
  font-size: 22.5px;
}
.fs-2
{
  font-size: 25px;
}
.fw-bold
{
  font-weight: 1000;
}
.ws
{
  word-spacing: 25px;
}