.jk
{
  text-decoration: none;
  color: black;
}
.namehead
{
  vertical-align: middle;
  min-height: 75px;
}
.namebody
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.jk:hover
{
  color:#6D63FF;
  text-decoration: none;
}

.Accordion
{
  border:0;
  border-radius: 2px;
}

.Accordion:hover
{
  color:#6D63FF;
}

.InsideAcc
{
  padding: 0 18px;
  background-color: white;
  overflow:hidden;
  transition:0.4s ease;
}

.accordion__icon 
{
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate 
{
  transform:rotate(180deg);
}

#sidebar
{
  width:17rem;
  height:100vh;
  display:inline-block;
  overflow-x: scroll;
  position:fixed;
  left:0;
  top:0;
  border-right: 0.2px solid rgb(168, 168, 168);
  box-shadow: 3px 3px 10px rgba(168, 168, 168, 0.1);
}

#sidebar::-webkit-scrollbar 
{
  display: none;
}

.logout
{
  color:white;
}
.logout:hover
{
  color:black;
}
.navbar
{
  min-height:75px;
}
/* 
.Navbar
{
  position: fixed;
  top:0;
  right: 0;
  left:17rem;
  align-items: center;
  display: inline-flex;
  font-size: 30px;
  text-align: center;
  padding-left: 2vw;
  background-color: #6D63FF;
  min-height: 15px;
  transition: 0.4s;
}

.navbar
{
  min-height: 15px;
  font-size: 30px;
  transition:0.4s;
}
 */

.flex-item-button 
{
    flex:10%;
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(236, 255, 205);
    height:75%;
}

.flex-item-middle
{
  flex:75%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.flex-item-end
{
  flex: 15%;
  color:white;
  text-align: end;
}
.flex-item-end:hover
{
  color: black;
}

.flex-25
{
  flex:22.5%;
  color:white;
}
.flex-25:hover
{
  background-color: rgb(236, 255, 205);
  color:black;
}
/* Short styles */

.w-100
{
  width:100%;
}
.fs-0
{
  font-size: 20px;
}
.fs-1
{
  font-size: 22.5px;
}
.fs-2
{
  font-size: 25px;
}
.fw-bold
{
  font-weight: 1000;
}
.ws
{
  word-spacing: 25px;
}
.text-dec-none,.text-dec-none:hover
{
  text-decoration: none;
  color:black;
}
